
*{margin:0px;padding:0px;box-sizing:border-box}
.full{width:100vw;height:100vh;}
.quarter{width:50%;height:50%;background-color:blue;border:1px solid white}
.flexy{display:flex;flex-wrap:wrap}
#volume{
    position:absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}
body{
    background-color: darkblue;
    
}
h1{
    background-color:maroon
}
#timer{
    position:absolute;
    right:10px;
    top: 10px;
    z-index: 10;
    color:white;
    background-color: black;
    padding: 5px;
}